body {
    margin: 0;
}

div{
    width: 200px;
    height: 200px;
    position: absolute;
}

.top{
    background: red;
    border: 10px solid #000;
    padding: 20px;
    top: 0px;
    left: 0px;
}

.middle{
    background: #2b2bffff;
    border: 20px;
    top: 260px;
    left: 260px; 
}

.bottom{
    background: yellow;
    border: 10px;
    top: 460px;
    left: 460px;
}
