body {
    margin: 0;
}

.Grey{
    background: grey;
    position: absolute;
    width: 33.33%;
    height: 33.33%;
}

.Green{
    background: green;
    left: 33.33%;
    top: 33.33%;
    position: absolute;
    width: 33.33%;
    height: 33.33%;
}

.Purple{
    background: purple;
    left: 66.66%;
    top: 66.66%;
    position: absolute;
    width: 33.33%;
    height: 33.33%;
}
